[submodule "c/deps/ckb-c-stdlib"]
	path = c/deps/ckb-c-stdlib
	url = https://github.com/nervosnetwork/ckb-c-stdlib
[submodule "c/deps/ckb-miscellaneous-scripts"]
	path = c/deps/ckb-miscellaneous-scripts
	url = https://github.com/nervosnetwork/ckb-miscellaneous-scripts.git
[submodule "godwoken-scripts"]
	path = tests-deps/godwoken-scripts
	url = https://github.com/nervosnetwork/godwoken-scripts.git
