[submodule "gwos/c/deps/ckb-c-stdlib"]
	path = gwos/c/deps/ckb-c-stdlib
	url = https://github.com/nervosnetwork/ckb-c-stdlib
[submodule "gwos/c/deps/ckb-production-scripts"]
	path = gwos/c/deps/ckb-production-scripts
	url = https://github.com/nervosnetwork/ckb-production-scripts.git
[submodule "gwos/c/deps/sparse-merkle-tree"]
	path = gwos/c/deps/sparse-merkle-tree
	url = https://github.com/nervosnetwork/sparse-merkle-tree.git
[submodule "gwos/c/deps/molecule"]
	path = gwos/c/deps/molecule
	url = https://github.com/nervosnetwork/molecule.git
[submodule "gwos-evm/deps/ckb-c-stdlib"]
        path = gwos-evm/deps/ckb-c-stdlib
        url = https://github.com/TheWaWaR/ckb-c-stdlib.git
[submodule "gwos-evm/deps/ethash"]
        path = gwos-evm/deps/ethash
        url = https://github.com/TheWaWaR/ethash
[submodule "gwos-evm/deps/intx"]
        path = gwos-evm/deps/intx
        url = https://github.com/chfast/intx
[submodule "gwos-evm/deps/evmone"]
        path = gwos-evm/deps/evmone
        url = https://github.com/nervosnetwork/evmone
[submodule "gwos-evm/deps/secp256k1"]
        path = gwos-evm/deps/secp256k1
        url = https://github.com/nervosnetwork/secp256k1
[submodule "gwos-evm/deps/secp256k1-fix"]
        path = gwos-evm/deps/secp256k1-fix
        url = https://github.com/TheWaWaR/secp256k1
[submodule "gwos-evm/deps/crypto-algorithms"]
        path = gwos-evm/deps/crypto-algorithms
        url = https://github.com/B-Con/crypto-algorithms.git
[submodule "gwos-evm/deps/mbedtls"]
        path = gwos-evm/deps/mbedtls
        url = https://github.com/nervosnetwork/mbedtls.git
[submodule "crates/autorocks/autorocks-sys/rocksdb"]
	path = crates/autorocks/autorocks-sys/rocksdb
	url = https://github.com/facebook/rocksdb.git
        shadow = true
[submodule "crates/autorocks/autorocks-sys/snappy"]
	path = crates/autorocks/autorocks-sys/snappy
	url = https://github.com/google/snappy.git
        shadow = true
[submodule "crates/builtin-binaries/builtin"]
	path = crates/builtin-binaries/builtin
	url = https://github.com/jjyr/godwoken-builtin-binaries.git
