[workspace]
members = [
  "crates/challenge",
  "crates/chain",
  "crates/config",
  "crates/common",
  "crates/mem-pool",
  "crates/generator",
  "crates/traits",
  "crates/db",
  "crates/store",
  "crates/types",
  "crates/block-producer",
  "crates/jsonrpc-types",
  "crates/rpc-server",
  "crates/rpc-client",
  "crates/poa",
  "crates/tools",
  "crates/tests",
  "crates/web3-indexer",
  "crates/benches",
  "crates/version",
  "crates/utils",
  "crates/ckb-hardfork",
  "crates/tx-filter",
  "crates/replay-chain",
]

[profile.release]
overflow-checks = true

[profile.release.build-override]
opt-level = 3

[profile.bench.build-override]
opt-level = 3
