[package]
name = "gw-generator"
version = "0.1.0"
authors = ["Nervos Network"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[features]
default = ["detect-asm"]
detect-asm = ["ckb-vm/detect-asm"]
enable-always-success-lock = []
generate-genesis-accounts = []

[dependencies]
gw-types = { path = "../types" }
gw-common = { path = "../common" }
gw-config = { path = "../config" }
gw-store = { path = "../store" }
gw-traits = { path = "../traits" }
gw-ckb-hardfork = { path = "../ckb-hardfork" }
gw-tx-filter = { path = "../tx-filter" }
anyhow = "1.0"
blake2b-rs = "0.2"
ckb-vm = { version = "=0.20.0-rc5", features = ["detect-asm"] }
thiserror = "1.0"
lazy_static = "1.4"
rlp = "0.5.0"
secp256k1 = { version = "0.20", features = ["recovery", "rand-std"] }
sha3 = "0.9.1"
log = "0.4"
hex = "0.4"
smol = "1.2.5"
