[package]
name = "gw-rpc-server"
version = "0.1.0"
authors = ["jjy <jjyruby@gmail.com>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
gw-challenge = { path = "../challenge" }
gw-common = { path = "../common" }
gw-config = { path = "../config" }
gw-chain = { path = "../chain" }
gw-types = { path = "../types" }
gw-store = { path = "../store" }
gw-traits = { path = "../traits" }
gw-generator = { path = "../generator" }
gw-mem-pool = { path = "../mem-pool" }
gw-jsonrpc-types = { path = "../jsonrpc-types" }
gw-version = { path = "../version" }
gw-rpc-client = { path = "../rpc-client" }
gw-rpc-ws-server = { path = "../rpc-ws-server" }
gw-dynamic-config = { path = "../dynamic-config"}
gw-utils = { path = "../utils" }
faster-hex = "0.4"
ckb-crypto = "0.100.0"
ckb-fixed-hash = "0.100.0"
ckb-types = "0.100.0"
toml = "0.5"
anyhow = "1.0"
serde = { version = "1.0", features = ["derive"] }
async-channel = "1.4"
async-jsonrpc-client = { version = "0.3.0", default-features = false, features = ["http-tokio"] }
clap = "2.33.3"
env_logger = "0.8.3"
futures = "0.3.13"
hyper = { version = "0.14", features = ["server"] }
jsonrpc-v2 = { version = "0.10.0", default-features = false, features = ["hyper-integration", "easy-errors"] }
log = "0.4.14"
serde_json = "1.0"
tokio = { version = "1.15", default-features = false, features = ["rt-multi-thread"] }
bytes-v10 = { version = "1.0", package = "bytes" }
async-trait = "0.1"
lru = "0.7"
socket2 = { version = "0.4", features = ["all"] }
pprof = { version = "0.6", features = ["flamegraph", "cpp", "protobuf"]}
once_cell = "1.8"
jemalloc-ctl = { package = "tikv-jemalloc-ctl", version = "0.4.2" }
jemalloc-sys = { package = "tikv-jemalloc-sys", version = "0.4.2" }
errno = "*"
tracing = { version = "0.1", features = ["attributes"] }
