[package]
name = "gw-block-producer"
version = "0.8.0"
authors = ["Nervos Network"]
edition = "2018"

[lib]
path = "src/lib.rs"

[[bin]]
name = "godwoken"
path = "src/main.rs"

[dependencies]
gw-challenge = { path = "../challenge" }
gw-common = { path = "../common" }
gw-config = { path = "../config" }
gw-chain = { path = "../chain" }
gw-types = { path = "../types" }
gw-db = { path = "../db" }
gw-store = { path = "../store" }
gw-generator = { path = "../generator" }
gw-mem-pool = { path = "../mem-pool" }
gw-jsonrpc-types = { path = "../jsonrpc-types" }
gw-rpc-server = { path = "../rpc-server" }
gw-rpc-client = { path = "../rpc-client" }
gw-rpc-ws-server = { path = "../rpc-ws-server" }
gw-web3-indexer = { path = "../web3-indexer" }
gw-poa = { path = "../poa" }
gw-utils = { path = "../utils" }
gw-version = { path = "../version" }
gw-ckb-hardfork = { path = "../ckb-hardfork" }
ckb-crypto = "0.100.0"
ckb-fixed-hash = "0.100.0"
ckb-types = "0.100.0"
ckb-chain-spec = "0.100.0"
toml = "0.5"
anyhow = "1.0"
serde = { version = "1.0", features = ["derive"] }
async-channel = "1.4.2"
async-jsonrpc-client = { version = "0.3.0", default-features = false, features = ["http-async-std"] }
async-native-tls = "0.3.3"
async-std = "1.9.0"
clap = "2.33.3"
ctrlc = {version = "3.2.1", features = ["termination"]}
env_logger = "0.8.3"
futures = "0.3.13"
log = "0.4.14"
serde_json = "1.0"
smol = "1.2.5"
lazy_static = "1.4"
sqlx = { version = "0.5", features = [ "runtime-async-std-native-tls", "postgres", "sqlite", "chrono", "decimal" ] }
hex = "0.4"
async-trait = "0.1"
semver = "1.0"
rayon = "1.5"
sentry = "0.23.0"
sentry-log = "0.23.0"
thiserror = "1.0"

[target.'cfg(all(not(target_env = "msvc"), not(target_os="macos")))'.dependencies]
tikv-jemallocator = { version = "0.4.0", features = ["unprefixed_malloc_on_supported_platforms"] }

[features]
default = []
profiling = ["tikv-jemallocator/profiling"]
aot-vm = ["gw-generator/aot"]
