name: Godwoken Tests

on:
  push:
    branches: [develop, master, ci, 'v1*']
    tags: ["v*.*.*"]
  pull_request:

jobs:
  godwoken-tests:
    uses: godwokenrises/godwoken-tests/.github/workflows/reusable-integration-test-v1.yml@develop
    with:
      extra_github_env: |
        MANUAL_BUILD_GODWOKEN=true
        GODWOKEN_GIT_URL="https://github.com/${{ github.repository }}"
        GODWOKEN_GIT_CHECKOUT=${{ github.ref }}
        MANUAL_BUILD_SCRIPTS=true
        SCRIPTS_GIT_URL="https://github.com/${{ github.repository }}"
        SCRIPTS_GIT_CHECKOUT=${{ github.ref }}        
        MANUAL_BUILD_POLYJUICE=true
        POLYJUICE_GIT_URL="https://github.com/${{ github.repository }}"
        POLYJUICE_GIT_CHECKOUT=${{ github.ref }}
        MANUAL_BUILD_WEB3=true
        MANUAL_BUILD_WEB3_INDEXER=true
        WEB3_GIT_URL="https://github.com/${{ github.repository }}"
        WEB3_GIT_CHECKOUT=${{ github.ref }}
