name: Build and Test

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Install Rust components
        run: rustup component add rustfmt && rustup component add clippy
      - uses: actions/cache@v2
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-cargo-${{ hashFiles('Cargo.lock') }}
      - name: Install moleculec v0.7.2
        run: CARGO_TARGET_DIR=target/ cargo install moleculec --version 0.7.2
      - name: Check format
        run: cargo fmt -- --check
      - name: Cargo clippy check
        env:
          RUSTFLAGS: -D warnings
        run: cargo clippy
      - name: Copy contracts from prebuild docker images
        run: devtools/fetch-binaries.sh
      - name: Tests
        run: RUST_BACKTRACE=1 cargo test --all-targets
      - name: Test TOML serialization
        run: cargo run --bin godwoken -- generate-example-config -o test.toml

  integration-test:
    uses: nervosnetwork/godwoken-tests/.github/workflows/reusable-integration-test-v1.yml@547f3153a32c4385171b1ebb4918205ff5ef7c19
    with:
      # github.head_ref: The head_ref or source branch of the pull request in a workflow run. This property is only available when the event that triggers a workflow run is either pull_request or pull_request_target.
      # github.ref: The branch or tag ref that triggered the workflow run. For branches this is the format refs/heads/<branch_name>, and for tags it is refs/tags/<tag_name>.
      godwoken_ref: ${{ github.head_ref || github.ref }}
      kicker_ref: 9ee4c8272974562d21124f7f10e9028aed78812d
      tests_ref: 547f3153a32c4385171b1ebb4918205ff5ef7c19
