# This workflow will do a clean install of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Web3 Node.js CI

on:
  push:
    paths:
      - 'web3/**'
  pull_request:
    paths:
      - 'web3/**'

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: web3

    strategy:
      matrix:
        node-version: [14.x, 16.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'yarn'
        cache-dependency-path: '**/yarn.lock'

    - run: yarn install
    - run: yarn run build
    - run: yarn workspace @godwoken-web3/api-server run test tests/db/helpers.test.ts
    - run: yarn workspace @godwoken-web3/api-server run test tests/utils
    - run: yarn workspace @godwoken-web3/api-server run test tests/base/types
    - run: yarn run fmt
    - run: yarn run lint
    - run: git diff --exit-code
